<h2 mat-dialog-title> {{data.operacionDesc}}</h2>
<div mat-dialog-content>
    <form [formGroup]="formularioAlta" (ngSubmit)="CargarCurso()">

    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ex. Angular" type="text" formControlName ="nombre" required [readonly]="this.item.operacionCod == 3">
    </mat-form-field>

    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Decripción</mat-label>
        <input matInput placeholder="Ex. Programación web" type="text" formControlName ="descripcion" required [readonly]="this.item.operacionCod == 3">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill"required>
        <mat-label>Nivel</mat-label>
        <select matNativeControl  formControlName ="nivel" required>
          <option value=0>Básico</option>
          <option value=1>Avanzado</option>
        </select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" required> 
        <mat-label>Estado</mat-label>
        <select matNativeControl formControlName ="baja"  required>
          <option value=0>Abierto</option>
          <option value=1>Cerrado</option>
        </select>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="onNoClick()">Cerrar</button>
        <ng-container *ngIf="data.operacionCod !=3">
            <button type="submit" mat-button [mat-dialog-close]="item" [disabled]="formularioAlta.status == 'INVALID'">{{textButton}}</button>
        </ng-container>
    </div>

    </form>

</div>
