<h2 mat-dialog-title> {{data.operacionDesc}}</h2>
<div mat-dialog-content>
    <form [formGroup]="formularioAlta" (ngSubmit)="CargarAlumno()">

    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ex. Juan" type="text" formControlName ="nombre" required>
    </mat-form-field>

    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Ex. Luna" type="text" formControlName ="apellido" required>
    </mat-form-field>
<!-- 
    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Curso</mat-label>
        <input matInput placeholder="Ex. Programació" type="text" formControlName ="curso" required>
    </mat-form-field> -->

    <mat-form-field class="example-full-width" appearance="fill"required>
        <mat-label>Curso</mat-label>
        <select matNativeControl  formControlName ="curso" required>
            <option [value]="item.id" *ngFor="let item of this.listado ;index as i">{{ item.Nombre }}</option>
        </select>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Nota</mat-label>
        <input matInput placeholder="Ex. 10" type="number" formControlName ="nota" required>
          <mat-error *ngIf="formularioAlta.controls['nota'].hasError('min') || formularioAlta.controls['nota'].hasError('max')">
            La nota debe ser entre 1 y 10
          </mat-error>
     </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="onNoClick()">Cerrar</button>
        <ng-container *ngIf="data.operacionCod !=3">
            <button type="submit" mat-button [mat-dialog-close]="item" [disabled]="formularioAlta.status == 'INVALID'">{{textButton}}</button>
        </ng-container>
    </div>

    </form>

</div>
